.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #3498db;
  color: white;
  padding: 20px;
  text-align: center;
  height: 80px;
}

.main-content {
  display: flex;
  flex-grow: 1;
}

.main {
  flex-grow: 1;
  padding: 20px;
  background-color: #f0f0f0;
}

.footer {
  background-color: #2ecc71;
  color: white;
  padding: 20px;
  text-align: center;
  height: 60px;
}

.aside-left {
  width: 250px;
  background-color: #e74c3c;
  color: white;
  padding: 20px;
}

.aside-right-container {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.aside-right-top {
  flex-grow: 1;
  padding: 20px;
  background-color: #f39c12;
}

.aside-right-bottom {
  flex-grow: 1;
  padding: 20px;
  background-color: #9b59b6;
}

/* Media query para pantallas medianas (tabletas) */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column; /* Cambia a dise침o vertical */
  }

  .aside-left,
  .aside-right-container {
    width: 100%; /* Ocupan todo el ancho */
  }
}

/* Media query para pantallas peque침as (m칩viles) */
@media (max-width: 480px) {
  .header {
    height: 60px; /* Reduce la altura del encabezado */
  }

  .footer {
    height: 40px; /* Reduce la altura del pie de p치gina */
  }
  .aside-left{
    width: 92%;
  }
}